[remote.github]
owner = "nelsonlaidev"
repo = "cliff"

[changelog]
header = """
# Changelog\n
All notable changes to this project will be documented in this file.

"""
body = """
{%- macro remote_url() -%}
  https://github.com/{{ remote.github.owner }}/{{ remote.github.repo }}
{%- endmacro -%}

{% macro print_commit(commit) -%}
    - {% if commit.scope %}*({{ commit.scope }})* {% endif %}\
        {% if commit.breaking %}[**breaking**] {% endif %}\
        {{ commit.message | upper_first }} \
        ([{{ commit.id | truncate(length=7, end="") }}]({{ self::remote_url() }}/commit/{{ commit.id }}))\
{% endmacro -%}

{% if version %}\
    {% if previous.version %}\
        ## [{{ version | trim_start_matches(pat="v") }}]\
          ({{ self::remote_url() }}/compare/{{ previous.version }}..{{ version }}) - {{ timestamp | date(format="%Y-%m-%d") }}
    {% else %}\
        ## [{{ version | trim_start_matches(pat="v") }}] - {{ timestamp | date(format="%Y-%m-%d") }}
    {% endif %}\
{% else %}\
    ## [unreleased]
{% endif %}\

{% for group, commits in commits | group_by(attribute="group") %}
    ### {{ group | striptags | trim | upper_first }}
    {% for commit in commits
    | filter(attribute="scope")
    | sort(attribute="scope") %}
        {{ self::print_commit(commit=commit) }}
    {%- endfor %}
    {% for commit in commits %}
        {%- if not commit.scope -%}
            {{ self::print_commit(commit=commit) }}
        {% endif -%}
    {% endfor -%}
{% endfor -%}

{% if github.contributors | length != 0 %}
## Contributors
{% endif %}\
{% for contributor in github.contributors %}
* [@{{ contributor.username }}](https://github.com/{{ contributor.username }})
    {%- if contributor.pr_number %} in \
    [#{{ contributor.pr_number }}]({{ self::remote_url() }}/pull/{{ contributor.pr_number }}) \
    {%- endif %}
{%- endfor -%}
"""
footer = """
"""
trim = true

[git]
conventional_commits = true
split_commits = false
sort_commits = "oldest"
filter_commits = false
protect_breaking_commits = false
filter_unconventional = true
topo_order = false
tag_pattern = "v[0-9].*"
commit_parsers = [
    { message = "^feat", group = "Features" },
    { message = "^fix", group = "Bug Fixes" },
    { message = "^docs", group = "Documentation" },
    { message = "^style", group = "Styling" },
    { message = "^refactor", group = "Refactor" },
    { message = "^perf", group = "Performance" },
    { message = "^test", group = "Testing" },
    { message = "^build", group = "Build System" },
    { message = "^ci", group = "Continuous Integration" },
    { message = "^chore", group = "Chores" },
    { message = "^revert", group = "Reverts" },
]
link_parsers = [
    { pattern = "#(\\d+)", href = "https://github.com/nelsonlaidev/scoutly/issues/$1" },
    { pattern = "RFC(\\d+)", href = "https://datatracker.ietf.org/doc/html/rfc$1" },
]
